* {
    margin: 0;
    padding: 0;
}


.imagenportada {
    background-size: auto;
}


iframe {
    width: 350px;
  
}

.form {
    background-color: rgb(255, 174, 244);
}




.logo1 {
    color: rgb(0, 0, 0);
    display: inline;
}


.art1 {
    width: 300px;
    padding: 10px;
}



.title {

    background-color: dimgrey;
    width: 100%;
    height: 80px;
    text-transform: uppercase;
    text-align: center;
}

.volverArriba {
   display: flex;
background-color: chartreuse;
text-transform: capitalize;
font-family: monospace;
justify-content: flex-end;
text-decoration: overline;

}

p {
   background-color: rgb(255, 174, 244) ;
    margin: 30px ;
    text-transform: uppercase;
    padding: 5px;
    text-align: center;
   }

   .mainUsuario{
       display: flex;
       flex-direction: column;
   }

   .imgarticle {
    width: 300px !important; 
}

a {
    color: rgb(6, 6, 6);
    text-decoration: none !important;
}

div .card{
    display: flex;
justify-content: center;
}