 @import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Ysabeau+SC:wght@300&display=swap');



 header{
    .header {
    box-shadow: 0 5px 5px;
    display:flex;
    justify-content: center;
}
.h1 {
    color: rgb(3, 3, 3);
    background-color: rgb(255, 255, 255);
    font-family: 'Dancing Script', cursive;
    text-decoration: none;
    overflow: hidden;
    width: 180px;
    display: inline;
}
.menu {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: 'Ysabeau SC', sans-serif;
    display: inline-flex;

}

.ul li {
    list-style-type: none;
    overflow: hidden;
    margin: 5px;
    background-color: darkgray;
    border: outset;
    display: inline-flex
}

 }
 



